.card {
    border-radius: 0;
}

.navbar-brand {
    background-color: rgb(54, 107, 223);
    color: white;
    font-weight: bold;

}

.navbar-light .navbar-brand {
    color: white;
}

body {
    background-color: rgb(60, 151, 204);
}

.container {
    margin-left: 40px;
}
.article {
    margin:8px;
    clear: both;
}
.row {
    margin: 0%;
}
.bottom-centered {
    position: relative;
    bottom: 80px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0px;
    }
    .navbar-brand {
        width: 100%;
        box-sizing: unset;
    }
}